absl-py==1.2.0
array-record==0.5.0
astunparse==1.6.3
backcall==0.2.0
cachetools==5.2.0
certifi @ file:///opt/conda/conda-bld/certifi_1663615672595/work/certifi
charset-normalizer==2.1.1
click==8.1.7
decorator==4.4.2
distlib==0.3.8
dm-tree==0.1.8
etils==1.6.0
fastjsonschema==2.20.0
flatbuffers==2.0.7
fsspec==2023.12.2
gast==0.4.0
google-auth==2.11.1
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
googleapis-common-protos==1.62.0
grpcio==1.49.1
h5py==3.7.0
idna==3.4
imageio==2.26.0
imageio-ffmpeg==0.4.8
importlib-resources==6.1.1
joblib==1.2.0
kaleido==0.2.1
keras==2.10.0
Keras-Preprocessing==1.1.2
libclang==14.0.6
Markdown==3.4.1
MarkupSafe==2.1.1
moviepy==1.0.3
mpmath==1.3.0
numpy==1.23.3
oauthlib==3.2.1
opencv-python==4.7.0.72
opt-einsum==3.3.0
packaging==21.3
pandas==1.5.3
pickleshare==0.7.5
Pillow==9.2.0
proglog==0.1.10
promise==2.3
protobuf==3.20.3
psutil==5.9.7
ptyprocess==0.7.0
pure-eval==0.2.2
pyasn1==0.4.8
pyasn1-modules==0.2.8
pyparsing==3.0.9
python-dateutil==2.8.2
pytz==2022.7.1
requests==2.28.1
requests-oauthlib==1.3.1
rsa==4.9
scikit-learn==1.1.2
scipy==1.9.3
six==1.16.0
tensorboard==2.10.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow-addons==0.23.0
tensorflow-datasets==4.9.4
tensorflow-estimator==2.10.0
tensorflow-gpu==2.10.0
tensorflow-io-gcs-filesystem==0.27.0
tensorflow-metadata==1.14.0
termcolor==2.0.1
threadpoolctl==3.1.0
toml==0.10.2
tqdm==4.65.0
typeguard==2.13.3
typing_extensions==4.3.0
uri-template==1.3.0
urllib3==1.26.12
wcwidth==0.2.13
webcolors==24.6.0
webencodings==0.5.1
websocket-client==1.8.0
Werkzeug==2.2.2
wrapt==1.14.1
zipp==3.17.0
